* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-blue: #353f5f;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);

  font-weight: normal;
}