* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-blue: #353f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}

.sr-only {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  position: absolute;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

button {
  width: 100%;
  height: 50px;
  border-radius: 0.2rem;
  border: none;
  padding: 0;
  color: #fff;
  background: var(--green);
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

button:hover {
  background: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;
}

.button.cancel {
  height: 50px;
  opacity: 0.6;
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.button.cancel:hover {
  opacity: 1;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  section#transaction {
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
  }
  section#balance {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

header {
  background: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}

header #logo {
  color: #fff;
  font-weight: 100;
}

section#balance {
  margin-top: -8rem;
}

section#balance h2 {
  color: #fff;
  margin-top: 0;
}

section#balance .card {
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  color: var(--dark-blue);
  background: #fff;
  border-radius: 0.25rem;
}

section#balance .card h3 {
  font-size: 1rem;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#balance .card p {
  font-size: 2rem;
  line-height: 3rem;
}

section#balance .card.total {
  background: var(--green);
  color: #fff;
}

section#transaction {
  width: 100%;
  display: block;
  overflow-x: auto;
}

table#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table#data-table thead tr th:first-child, table#data-table thead tr td:first-child, table#data-table tbody tr th:first-child, table#data-table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table#data-table thead tr th:last-child, table#data-table thead tr td:last-child, table#data-table tbody tr th:last-child, table#data-table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table#data-table th {
  font-weight: normal;
  background: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

table#data-table tbody tr {
  opacity: 0.7;
}

table#data-table tbody tr:hover {
  opacity: 1;
}

table#data-table td {
  background: #fff;
  padding: 1rem 2rem;
}

table#data-table td.description {
  color: var(--dark-blue);
}

table#data-table td.income {
  color: #12a454;
}

table#data-table td.expense {
  color: #e92929;
}

div.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

div.modal-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
}

div.modal-overlay div.modal {
  background: #f0f2f5;
  padding: 2.4rem;
}

div.modal-overlay div.modal #form {
  max-width: 500px;
}

div.modal-overlay div.modal #form h2 {
  margin-top: 0;
}

div.modal-overlay div.modal #form .input-group.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.modal-overlay div.modal #form .input-group.actions a, div.modal-overlay div.modal #form .input-group.actions button {
  width: 48%;
}

div.modal-overlay div.modal #form .input-group {
  margin-top: 0.8rem;
}

div.modal-overlay div.modal #form .input-group small {
  opacity: 0.4;
}

div.modal-overlay div.modal #form form input {
  width: 100%;
  border: 0;
  border-radius: .2rem;
  padding: .8rem;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */